@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    
        @if (ViewBag.Message == "Invalid")
        {
            <p>
                User doesn't exist or lacks a confirmed Email Id!
            </p>
        }
        else
        {
            <p>
                Please check your email to reset your password.
            </p>
        }
        
            
            
</div>
	
